# Streamlit
.streamlit/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# MLflow
mlruns/
mlartifacts/

# Model files (keep these, but allow empty models folder)
*.joblib
*.pkl
*.pickle

# Data - ONLY IGNORE PROCESSED DATA
data/processed/
*.parquet

# Environment
.env
.venv

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

#MLruns
mlruns/*/ 